 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I am a third year undergraduate student at IIIT-Delhi pursuing B.Tech in <b>Computer Science and Engineering</b>. My areas of interest include applications of machine learning, complex networks, social computing and reinforcement learning. I am a part of the <b>PreCog Research Group</b>, a group of researchers who study, analyze, and build different aspects of social systems, led by <b>Prof. Ponnurangam Kumaraguru</b>. I'm also an enthusiastic web developer and like to work on interesting ideas. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored" style="font-size: 3rem"></i>
      <i class="devicon-c-plain colored" style="font-size: 3rem"></i>
      <i class="devicon-java-plain-wordmark" style="font-size: 3rem"></i>
      <i class="devicon-javascript-plain colored" style="font-size: 3rem"></i>
      <p>Fairly proficient in the above languages. Have made multiple projects using these.</p>
    </div>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-d3js-plain colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <p>Have made extensive use of D3 owning to it's superior and customizable framework.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain" style="font-size: 3rem"></i>
      <i class="devicon-django-plain colored" style="font-size: 3rem"></i>
      <i class="devicon-docker-plain colored" style="font-size: 3rem"></i>
      <i class="devicon-nginx-original colored" style="font-size: 3rem"></i>
      <p>Have made multiple projects using above tools like web apps coupled with MongoDB/MariaDB.</p>
    </div>
</div>
